# Configuración del Servidor
PORT=3000
NODE_ENV=development
APP_URL=http://localhost:3000
CLIENT_URL=http://localhost:5173

# Configuración de la Base de Datos
DB_HOST=localhost
DB_NAME=mywardrobe
DB_USER=root
DB_PASSWORD=

# Seguridad y Autenticación
JWT_SECRET=tu_secreto_super_seguro_aqui
